*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'GeekbleMalang2', Arial, Helvetica, sans-serif;
    color: #000; 
    font-size: 17px; 
    line-height: 20pt;
} /* 전체 폰트 스타일 정의 */

/* header */
header{
    width: 100%;
    height: 200px;
    background-color: #ececec;
    margin-bottom: 40px;
    text-align: center;
}
    .bg {
        width: 100%;
        height: 200px;
        background-image: url('../img/IMG_0059-1_2.jpg');
        background-repeat: repeat-x;
        background-size: auto 200px;
        margin-bottom: 50px;
    }
    
    .h1txt {
        color: #e7e7e7;
        font-size:  80px;
        line-height: 205px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        letter-spacing: 25px;
        font-weight: 500;
    }

    .container{
        width: 600px;
        height: auto; /* 자식 컨텐츠 사이즈에 맞춤*/
        margin: 20px auto; /* 좌우 가운데 위치한다*/
        background-image: url('../img/IMG_0061.jpg');
        background-size: 600px auto;
        margin-bottom: 100px;    
    }
    .sub-container {
        background-color: rgba(0, 102, 255, 0.04);
    }

    .item{
        margin: 20px 0 20px 30px;
    }

label{
    font-weight: bold;
    display: block;
}
input{
    width: 90%;
    font-size: 1.0em;
    padding: 10px;
    border: 0.5px solid #666;
    border-radius: 12px;
}

.b{
    width: 28%;
    font-size:  1.0em;
}
#bday{
    font-size:  1.0em;
    height: 41px;
    padding-top: -1px;
    border-radius: 12px;
    border: 0.5px solid #666;
}
#gender{
    width: 93%;
    height: 44px;
    font-size: 1.0em;
    border: 0.5px solid #666;
    border-radius: 12px;
}

header h2{
    text-align: center;
    line-height: 80px;
}

/* BTN */
.btn{
    width: 45%;
    background-color: #666;
    margin: 10px ;
    margin-left: 1px;
    font-size: 1.2em;
    border: 0;
}
.btn:hover{
    font-weight: bold;
    color: white;
    background-color: #444;
}